@import '../GlobalStyles/grid-library.scss';

.content-body {
    margin-bottom: 50px;
    border-radius: var(--contain-radius);
    padding: 30px;
    background: var(--color_theme);
    transition: all 0.5s;
}

@media (max-width: 739px) {
    .content-body {
        margin-bottom: 15vh;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .content-body {
        margin-bottom: 12vh;
    }
}

@media (min-width: 1024px) and (max-width: 1239px) {
    .content-body {
        margin-bottom: 15vh;
    }
}
