@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --contain-radius: 24px;
    --gradient_color: linear-gradient(
        -45deg,
        #f9f871,
        #ffc75f,
        #ff9671,
        #ff6f91,
        #d65db1,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );

    --color_theme: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

body {
    background: linear-gradient(45deg, #63a089, #458791);
    // font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
    overflow: auto;
}

.no-scroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: linear-gradient(45deg, #63a089, #458791);
}
::-webkit-scrollbar-thumb {
    background: rgb(206, 243, 39);
    background-clip: content-box;
    border-radius: 20px;
}
